@import "breakpoints";

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 37.7rem;

    @media screen and (min-width: $mobile) {
        border-radius: 2rem;
        flex-direction: row;
        width: 73.5rem;
    }

    box-sizing: border-box;
    opacity: 1;
}