@import "breakpoints";

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 37.7rem;

    @media screen and (min-width: $mobile) {
        border-radius: 3.3rem;
        flex-direction: row;
        width: 73.6rem;
    }

    opacity: 0.5;
}