@import "breakpoints";
@import "colors";
@import "fonts";

.results-card {
    box-sizing: border-box;
    padding: 2.3rem 5rem 2.5rem;

    @media screen and (min-width: $mobile) {
        padding: 4rem 4.1rem 3.8rem 4.1rem;
        width: 50%;
    }

    &__title {
        font: {
            family: $font-stack;
            size: 1.8rem;
            weight: $extra-bold
        }

        margin: 0 0 2.5rem;
        text-align: center;

        @media screen and (min-width: $mobile) {
            font-size: 2.4rem;
            letter-spacing: -0.01rem;
            margin-bottom: 3.3rem;
        }
    }

    &__score-container {
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 2.3rem;
        padding: 2.3rem;
        width: 50%;

        @media screen and (min-width: $mobile) {
            margin-bottom: 3rem;
            padding: 4.4rem 1.4rem;
            width: 72%;
        }
    }

    &__score {
        font: {
            family: $font-stack;
            size: 6rem;
            weight: $extra-bold;
        }

        margin: 0 0 -0.5rem;
        text-align: center;

        @media screen and (min-width: $mobile) {
            font-size: 7.4rem;
            margin-bottom: -0.7rem;
        }
    }

    &__from {
        font: {
            family: $font-stack;
            size: 1.65rem;
            weight: $bold;
        }

        margin: 0;
        text-align: center;

        @media screen and (min-width: $mobile) {
            font-size: 1.8rem;
        }
    }

    &__assessment {
        font: {
            family: $font-stack;
            size: 2.5rem;
            weight: $extra-bold;
        }

        margin: 0 0 0.65rem;
        text-align: center;

        @media screen and (min-width: $mobile) {
            font-size: 3.3rem;
            letter-spacing: -0.05rem;
            margin-bottom: 1.3rem;
        }
    }

    &__copy {
        font: {
            family: $font-stack;
            size: 1.48rem;
            weight: $bold;
        }

        letter-spacing: 0.05rem;
        line-height: 1.4;
        margin-top: 0;
        text-align: center;

        @media screen and (min-width: $mobile) {
            font-size: 1.8rem;
            letter-spacing: -0.01rem;
            line-height: 1.3;
            padding: 0 1.3rem;
        }
    }

}