@import "breakpoints";
@import "colors";
@import "fonts";

.summary-card {
    box-sizing: border-box;
    padding: 2.4rem 3.2rem 2.9rem;

    @media screen and (min-width: $mobile) {
        padding: 3.8rem 4rem;
        width: 50%;
    }

    &__title {
        color: $dark-gray-blue;

        font: {
            family: $font-stack;
            size: 1.8rem;
            weight: $bold;
        }

        margin: 0 0 2.5rem;

        @media screen and (min-width: $mobile) {
            font-size: 2.4rem;
            margin-bottom: 3rem;
        }
    }

    &__row {
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 1.7rem;
        padding: 1.7rem 1.4rem;

        @media screen and (min-width: $mobile) {
            margin-bottom: 1.2rem;
            padding: 1.7rem 1.6rem;
        }
    }

    &__row--0 {
        background-color: $light-red-bg;
    }

    &__row--1 {
        background-color: $orangey-yellow-bg;
    }

    &__row--2 {
        background-color: $green-teal-bg;
    }

    &__row--3 {
        background-color: $cobalt-blue-bg;
    }

    &__img {
        margin-right: 1rem;
        vertical-align: bottom;
    }

    &__category {
        font: {
            family: $font-stack;
            size: 1.65rem;
            weight: $medium;
        }

        @media screen and (min-width: $mobile) {
            font-size: 1.8rem;
        }
    }

    &__category--0 {
        color: $light-red;
    }

    &__category--1 {
        color: $orangey-yellow;
    }

    &__category--2 {
        color: $green-teal;
    }

    &__category--3 {
        color: $cobalt-blue;
    }

    &__grade {
        color: $grey;

        font: {
            family: $font-stack;
            size: 1.65rem;
            weight: $bold;
        }

        letter-spacing: 0.03rem;
        margin-right: 0.5rem;

        @media screen and (min-width: $mobile) {
            font-size: 1.9rem;
            letter-spacing: 0;
        }
    }

    &__grade--0 {
        color: $dark-gray-blue;
    }

    &__grade--1 {
        color: $dark-gray-blue;
    }

    &__grade--2 {
        color: $dark-gray-blue;
    }

    &__grade--3 {
        color: $dark-gray-blue;
    }

    &__continue-btn {
        color: $white;
        background-color: $dark-gray-blue;
        border: none;
        border-radius: 2.6rem;

        font: {
            family: $font-stack;
            size: 1.8rem;
            weight: $bold;
        }

        margin-top: 0.9rem;
        padding: 1.5rem;
        width: 100%;

        @media screen and (min-width: $mobile) {
            font-size: 1.8rem;
            margin-top: 2.9rem;
        }
    }

    &__continue-btn:hover {
        background-image: linear-gradient($light-slate-blue, $light-royal-blue);
        cursor: pointer;
    }
}