html {
  font-size: 62.5%;
}

.page {
  margin: 1rem 0 0;
}

.card-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: gray;
  background-image: url("../design/mobile-design.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
@media screen and (min-width: 737px) {
  .card-wrapper {
    align-items: flex-start;
    background-image: url("../design/desktop-design.jpg");
    background-position: center;
    min-height: 51rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 37.7rem;
  opacity: 0.5;
}
@media screen and (min-width: 737px) {
  .card {
    border-radius: 3.3rem;
    flex-direction: row;
    width: 73.6rem;
  }
}

.results-card {
  box-sizing: border-box;
  padding: 2.3rem 5rem 2.5rem;
}
@media screen and (min-width: 737px) {
  .results-card {
    padding: 4rem 4.1rem 3.8rem 4.1rem;
    width: 50%;
  }
}
.results-card__title {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0 0 2.5rem;
  text-align: center;
}
@media screen and (min-width: 737px) {
  .results-card__title {
    font-size: 2.4rem;
    letter-spacing: -0.01rem;
    margin-bottom: 3.3rem;
  }
}
.results-card__score-container {
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 2.3rem;
  padding: 2.3rem;
  width: 50%;
}
@media screen and (min-width: 737px) {
  .results-card__score-container {
    margin-bottom: 3rem;
    padding: 4.4rem 1.4rem;
    width: 72%;
  }
}
.results-card__score {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  margin: 0 0 -0.5rem;
  text-align: center;
}
@media screen and (min-width: 737px) {
  .results-card__score {
    font-size: 7.4rem;
    margin-bottom: -0.7rem;
  }
}
.results-card__from {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.65rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 737px) {
  .results-card__from {
    font-size: 1.8rem;
  }
}
.results-card__assessment {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 0 0.65rem;
  text-align: center;
}
@media screen and (min-width: 737px) {
  .results-card__assessment {
    font-size: 3.3rem;
    letter-spacing: -0.05rem;
    margin-bottom: 1.3rem;
  }
}
.results-card__copy {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.48rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.4;
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 737px) {
  .results-card__copy {
    font-size: 1.8rem;
    letter-spacing: -0.01rem;
    line-height: 1.3;
    padding: 0 1.3rem;
  }
}

.summary-card {
  box-sizing: border-box;
  padding: 2.4rem 3.2rem 2.9rem;
}
@media screen and (min-width: 737px) {
  .summary-card {
    padding: 3.8rem 4rem;
    width: 50%;
  }
}
.summary-card__title {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 2.5rem;
}
@media screen and (min-width: 737px) {
  .summary-card__title {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
}
.summary-card__row {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1.7rem;
  padding: 1.7rem 1.4rem;
}
@media screen and (min-width: 737px) {
  .summary-card__row {
    margin-bottom: 1.2rem;
    padding: 1.7rem 1.6rem;
  }
}
.summary-card__row--reaction {
  background-color: gray;
}
.summary-card__row--memory {
  background-color: gray;
}
.summary-card__row--verbal {
  background-color: gray;
}
.summary-card__row--visual {
  background-color: gray;
}
.summary-card__img {
  margin-right: 1rem;
  vertical-align: bottom;
}
.summary-card__category {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.65rem;
  font-weight: 500;
}
@media screen and (min-width: 737px) {
  .summary-card__category {
    font-size: 1.8rem;
  }
}
.summary-card__category--reaction {
  color: black;
}
.summary-card__category--memory {
  color: black;
}
.summary-card__category--verbal {
  color: black;
}
.summary-card__category--visual {
  color: black;
}
.summary-card__grade {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.65rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}
@media screen and (min-width: 737px) {
  .summary-card__grade {
    font-size: 1.9rem;
    letter-spacing: 0;
  }
}
.summary-card__grade--reaction {
  color: black;
}
.summary-card__grade--memory {
  color: black;
}
.summary-card__grade--verbal {
  color: black;
}
.summary-card__grade--visual {
  color: black;
}
.summary-card__continue-btn {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 2.6rem;
  margin-top: 0.9rem;
  padding: 1.5rem;
  width: 100%;
}
@media screen and (min-width: 737px) {
  .summary-card__continue-btn {
    font-size: 1.8rem;
    margin-top: 2.9rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
